extends layout 

block content 
  h1= title 
  if composer_list.length 
    ul 
      each composer in composer_list 
        li 
          a(href=composer.url) #{composer.name}
          |  (#{composer.lifespan})
  
  else 
    li There are no composers