extends layout 

block content 
  h1= title 
  if instrument_list.length 
    ul 
      each instrument in instrument_list
        li 
          a(href=instrument.url) #{instrument.name}
          |  (#{instrument.description})
  
  else 
    p There are no instruments